$list: '.list';

#{$list} {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  background: rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);

  &__item-input {
    display: none;
  }

  &__button-close {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    padding: 0;
    border: none;
    background: black;
    top: 10px;
    right: 10px;
    display: none;
  }

  &:hover {
    #{$list}__item-input {
      display: inline-block;
    }

    #{$list}__button-close {
      display: block;
    }
  }

  &__title-section {
    padding: 5px;
  }

  &__title {
    font-weight: bold;
    border: none;
    background: transparent;
    text-align: center;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__items-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    border: none;
    background: transparent;

    &:focus,
    &:active {
      outline: none;
    }
  }
}
